.earn {
    padding: 2rem;
    position: relative;
    background: linear-gradient(135deg, #84fab0 0%, #455646 100%);
    min-height: 100vh;
}

.back-arrow {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.tasks ul {
    list-style-type: none;
    padding: 0;
}

.tasks li {
    background-color: #f0f0f0;
    margin: 0.5rem 0;
    padding: 0.5rem;
}