.app {
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;
}

.progress-bar {
  background-color: #333333;
  height: 25px;
  width: 50%;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #76c7c0;
  transition: width 0.3s;
}

.progress-text {
  font-size: 14px;
  color: #333;
}

